@model Bill

<h3>@(Model.Id == Guid.Empty ? "New": "Edit") Bill</h3>
<hr>
<form class="form-bill" action="#" method="post">

    @if (Model.Id != Guid.Empty)
    { <input type="hidden" name="id" value="@Model.Id" /> }

    <input class="w100" type="text" name="title" placeholder="Title" value="@Model.Title" />
    <div class="flex">
        <select name="dueday" asp-items="@ViewBag.DueDayList"></select>
        <select name="refmonth" asp-items="@ViewBag.MonthList"></select>
    </div>
    <div class="checkbox">
        <input type="checkbox" name="recurrent" id="recurrent" @(Model.Recurrent ? "checked" : "") />
        <label for="recurrent">Recurrent</label>
    </div>
    <div class="flex-center">
        <a class="button" asp-controller="bills" asp-action="index">Cancel</a>
        <button class="button primary" type="submit">Confirm</button>
    </div>
</form>