@model List<Bill>

<h3>Bill List</h3>
<hr>
<div class="flex-between">
    <a asp-controller="home" asp-action="index">Go Back</a>
    <a class="button primary" asp-controller="bills" asp-action="new">New Bill</a>
</div>
<table class="table-bills">
    <thead>
        <tr>
            <th>Title</th>
            <th>Due Day</th>
            <th>Ref Month</th>
            <th>Recurrent</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bill in Model)
        {
            <tr>
                <td>@bill.Title</td>
                <td>@bill.DueDay</td>
                <td>@((MonthEnum) bill.RefMonth)</td>
                <td>@(bill.Recurrent ? "Yes": "No")</td>
                <td>
                    <a asp-controller="bills" asp-action="edit" asp-route-id="@bill.Id">Edit</a>
                    <span>/</span>
                    <a asp-controller="bills" asp-action="delete" asp-route-id="@bill.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


