@model Payment

<h3>@(Model.Id == Guid.Empty ? "New": "Edit") Payment</h3>
<hr>
<form action="#" method="post">

    @if (Model.Id != Guid.Empty)
    { <input type="hidden" name="id" value="@Model.Id" /> }

    <select class="w100" name="billid" asp-items="@ViewBag.BillList"></select>
    <div class="flex-between">
        <select class="w30" name="refmonth" asp-items="@ViewBag.MonthList"></select>
        <input class="w30 txt-center" type="date" name="payment_date" id="payment_date" value="@Model.PaymentDate.ToString("yyyy-MM-dd")" disabled />
        <input class="w30 txt-center" type="number" name="amount" placeholder="R$ 0,00" value="@Model.Amount">
    </div>
    <div class="flex-center">
        <textarea class="w100" name="comments" id="comments" rows="5">@Model.Comment</textarea>
    </div>
    <div class="flex-center">
        <a class="button" asp-controller="payments" asp-action="index">Cancel</a>
        <button class="button primary" type="submit">Confirm</button>
    </div>
</form>