@model List<Payment>

<h3>Payment List</h3>
<hr>
<div class="flex-between">
    <a asp-controller="home" asp-action="index">Go Back</a>
    <a class="button primary" asp-controller="payments" asp-action="new">New Payment</a>
</div>
<table class="table-bills">
    <thead>
        <tr>
            <th>Title</th>
            <th>Ref Month</th>
            <th>Payment Date</th>
            <th>Amount</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var payment in Model)
        {
            <tr>
                <td><a asp-controller="payments" asp-action="view" asp-route-id="@payment.Id">@payment.Bill?.Title</a></td>
                <td>@((MonthEnum) payment.RefMonth)</td>
                <td>@payment.PaymentDate.ToString("yyyy-MM-dd")</td>
                <td>R$ @payment.Amount</td>
                <td>
                    <a asp-controller="payments" asp-action="edit" asp-route-id="@payment.Id">Edit</a>
                    <span>/</span>
                    <a asp-controller="payments" asp-action="delete" asp-route-id="@payment.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>